.idea
_artifacts

.env
src/app.env
src/version

vendor
web/bundles

runtime
web/assets

docker-compose.override.yml
tests/codeception/_output
local.php
tests/codeception/_support/_generated
tests/_log
.php_cs.cache
