.idea
_host-volumes

.env
src/app.env
src/version

vendor
vendor-dev
runtime
web/bundles
web/assets
tests/codeception/_output

docker-compose.override.yml
docker-compose.local.yml

local.php
local.env
tests/codeception/_support/_generated
tests/_log

.php_cs.cache

