# Test environment settings for docker-compose
# ============================================
#
# Variables are populated with values from `tests/.env`

# Configuration files
COMPOSE_FILE=../docker-compose.yml:./docker-compose.test.yml

# Project name for testing - Usually prefixed with test-
COMPOSE_PROJECT_NAME=test-phd5

# Project Docker image(s) - This should be the same image as specified in .env (project root)
STACK_PHP_IMAGE=registry/namespace/phd5

# can be undefinied OR -debian
# undefined == alpine base image
# -debian   == debian base image
# FLAVOUR="-debian"
