# Development stack overrides
#
# Variables are populated with values from `.env`
#
version: '3.2'
services:
  php:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - 80
    depends_on:
      - db
      - redis
    environment:
      - DB_ENV_MYSQL_ROOT_PASSWORD=secret
      # For host-volume development (permissions)
      # For composer usage in container
      - GITHUB_API_TOKEN
      - ENV_LOCAL_FILE=local.env
      - APP_ADMIN_PASSWORD=admin1
      - APP_ADMIN_EMAIL=admin@local.develop
      - APP_ASSET_FORCE_PUBLISH=1
      - APP_PAGES_TITLE_PREFIX='[DEV] '
      - PHP_ENABLE_XDEBUG
    volumes:
      - ../config:/app/config:cached
      - ../src:/app/src:cached
      - ../migrations:/app/migrations:cached
      - ../vendor-dev:/app/vendor:delegated
      # Re-use local composer cache via host-volume
      - $HOME/.composer-docker/cache:/root/.composer/cache:delegated

  db:
    command: --character-set-server=utf8 --collation-server=utf8_general_ci
    image: percona:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=secret
    ports:
      - '3306'
